@import "compass";
@import "bootstrap";

$theme-color: #486090;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


body {
    position: relative;
    font-size: 62.5%;
    font-family: "Roboto Slab", sans-serif;
}


.container {
    overflow: hidden;
}


.btn {
    width: 250px;
    height: 40px;
    @include border-radius(2px);
    line-height: 28px;
}


.btn-theme {
    color: #fff;
    border: 1px solid transparent;
    @include text-shadow(0 1px 1px rgba(0,0,0,.5));
    background-color: lighten($theme-color,10%);
    @include transition(border-color 300ms, font-size 100ms);
    font-size: 1.6em;

    &:hover {
        border: 1px solid #fff;
        color: #fff;
    }

    &:active {
        font-size: 1.3em;
    }
}


.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-color: $theme-color;
    border-bottom: 2px solid darken(saturate($theme-color, 100%), 30%);
    background-image: url('../img/dna.jpg');
    background-size: cover;

    @media screen and (min-width: $screen-md-min) {
        height: 550px;
    }

    @media screen and (min-width: $screen-lg-min) {
        height: 600px;
    }
}


.bg-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-image(linear-gradient(left top, rgba($theme-color,0.95) 0%,rgba(darken($theme-color,10%),0.95) 99%,rgba(darken($theme-color,10%),0.8) 100%));

    .no-multiplebgs & {
        background-image: none;
        background-color: $theme-color;
    }
}


header {
    margin-bottom: 30px;
    text-align: center;
    @include font-size(1);

    h1 {
        font-size: 3.5em;
        font-weight: bold;
        color: #fff;
    }
}


.banner {
    @include font-size(1);

    img {
        border: 1px solid lighten($theme-color,30%);
        @include box-shadow(0 4px 8px rgba(0,0,0,.5));
    }
}


figcaption {
    margin-top: 5px;
    color: #606060;
    font-size: 1.3em;
}


.note {
    margin-bottom: 20px;
    color: lighten($theme-color,30%);
    font-size: 1.5em;
}


.description {
    margin-top: 50px;
    margin-bottom: 50px;
    @include font-size(1);
}


.main-text {
    font-size: 1.9em;
    line-height: 1.7;
}


.sub-text {
    font-size: 1.7em;
    line-height: 1.6;
}


.references {
    @include font-size(1);
    border-top: 1px solid #e8e8e8;
}


.citation {
    margin: 20px 0;
    color: #808080;
    font-size: 1.3em;
}


.journal {
    font-style: italic;
}
